# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Production build files
/client/build
/client/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/server/.env


# Uploaded and generated images
/server/uploads/*
!/server/uploads/.gitkeep

# Supabase files
client/public/ads/SceneSnapAI*
